<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/rankings">Rankings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Simulate-the-Playoffs">Simulate the Playoffs</a>
        </li>
    </ul>
</div>

<div class="container mt-3">
    <h2>Home</h2>
    {% if favorite_team %}
    <div class="alert alert-success" role="alert">
        Your favorite team is the: {{ favorite_team }}
    </div>
    {% endif %}
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
    {{ error_message }}
    </div>
    {% endif %}
    <form method="POST" action="/">
        <div class="form-group">
            <label for="favoriteTeam">Please enter the name of your favorite NBA team to get information about them. Example: For the Chicago Bulls enter "Bulls"</label>
            <input type="text" class="form-control" id="favoriteTeam" name="favoriteTeam" aria-describedby="teamHelp">
            <small id="teamHelp" class="form-text text-muted">We'll provide you with the latest info and stats for your favorite team.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>    
    {% if favorite_team %}
    <div class="mt-3">
        <h3>Team Information:</h3>
        <body>
            <p>Your favorite team has been searched for {{ count_info|safe }} times.</p>
            <p>If the playoffs started today, the {{ favorite_team }} would <b>{{ playoff_status }}</b></p>
            <p>The {{ favorite_team }} [won/lost] their last game against the [opposing team]: [score]</p>
            <p>Their next matchup is against the [opposing team] on [date] at [time]</p>
        </body>
    </div>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
